body, 
p, 
th, 
td, 
ul, 
li {
	font-family: "essonnes-text", Georgia, "New Times Roman", serif;
	font-weight: normal;
  font-feature-settings: "liga" 1, "kern" 1;
}
	@media screen and (min-width: 43.75em) { 
    body, 
    p, 
    th, 
    td, 
    ul, 
    li {
    }

	}

p {
/* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
        font-optical-sizing: 100;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Louvette VF", Georgia, "New Times Roman", serif;
}


h1 {
	font-family: 'Louvette VF',Georgia, "New Times Roman", serif;
	font-weight: normal;
  font-feature-settings: "liga" 1, "kern" 1;
  font-variation-settings: 'wght' 999.999, 'yopq' 71.9984, 'ytde' 71.9984;
}
h2 {
	font-family: 'Louvette VF',Georgia, "New Times Roman", serif;
	font-variation-settings: 'wght' 400.03, 'yopq' 99.999, 'ytde' 99.999;
	font-weight: normal;
}

@supports not (font-variation-settings: "wdth" 100) {
  h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, "New Times Roman", serif;
  }
}

.byline {
	font-family: 'Louvette VF',Georgia, "New Times Roman", serif;
}
@supports not (font-variation-settings: "wdth" 100) {
  .byline {
    font-family: Georgia, "New Times Roman", serif;
  }
}

blockquote {
	font-family: "Louvette VF", Georgia, "New Times Roman", serif; 
	font-variation-settings: 'wght' 300.03, 'yopq' 49.999, 'ytde' 99.999;
}
@supports not (font-variation-settings: "wdth" 100) {
  blockquote {
    font-family: Georgia, "New Times Roman", serif;
  }
}

.footer-contact p {
	font-family: "Louvette VF", Georgia, "New Times Roman", serif;
}
@supports not (font-variation-settings: "wdth" 100) {
  .footer-contact p {
    font-family: Georgia, "New Times Roman", serif;
  }
}

h2 + p {
  margin-top: 1em;
}

/* Section end styles */
.section-end:after {
  color: #777;
	content: "\00a7";
	display: block;
	font-family: "Louvette VF", Georgia, "New Times Roman", serif;
	font-size: 1.5em;
	font-weight: 300;
	margin-top: 1em;
	text-align: center;
}
@supports not (font-variation-settings: "wdth" 100) {
  .section-end:after {
    font-family: Georgia, "New Times Roman", serif;
  }
}

/* First-line styles */
.section-end + p:first-line,
p.first-line:first-line {
	font-family: "essonnes-text", Georgia, "New Times Roman", serif;
	font-weight: bold;
	font-variant: small-caps;
}

/* Content end styles */
.content-area p:last-child::after {
  color: #777;
	content: "\2766";
	display: inline;
	font-family: "Louvette VF", Georgia, "New Times Roman", serif;
	font-size: 1.25em;
	font-style: italic;
	font-weight: 300;
	line-height: .75;
}
@supports not (font-variation-settings: "wdth" 100) {
  .content-area p:last-child::after {
    font-family: Georgia, "New Times Roman", serif;
  }
}

/* Initial Cap styles */
.article-detail.initial p:first-of-type:first-letter {
	float: left; 
	padding-right: 0.05em; 
  font-family: 'Louvette VF', Georgia, "New Times Roman", serif;
  font-variation-settings: 'wght' 999.999, 'yopq' 71.9984, 'ytde' 71.9984;
	font-size: 3.5em; 
	line-height: 0.9em;
	margin-bottom: -.1em; 	
}
@supports not (font-variation-settings: "wdth" 100) {
  .article-detail.initial p:first-of-type:first-letter {
    font-family: Georgia, "New Times Roman", serif;
  }
}

.article-detail.initial p:first-of-type:first-line {
	text-transform: uppercase; 
	
}

.lt-ie9 .article-detail.initial footer + p:first-letter {
  font-size: 4em; 
  font-family: 'Louvette VF', Georgia, "New Times Roman", serif;
	line-height: 0.9em; 
	float: left; 
	padding-right: 0.15em; 	
}
	@media screen and (min-width: 43.75em) { 
		.article-detail.initial p:first-of-type:first-letter { 
			font-size: 5.5em;
      line-height: 0.825em; 
      padding-right: 0.05em; 
      padding-top: .03em;
		}
		.lt-ie9 .article-detail.initial footer + p:first-letter { 
			font-size: 5em;
		}
	}
	
	@media screen and (min-width: 81.25em) { 
		.article-detail.initial p:first-of-type:first-letter { 
			font-size: 6em;
      line-height: 0.7em;
      margin-bottom: -.1em;
      padding-top: .07em; 
		}
	}
@supports not (font-variation-settings: "wdth" 100) {
  .lt-ie9 .article-detail.initial footer + p:first-letter {
    font-family: Georgia, "New Times Roman", serif;
  }
}
	

/* German styles */
.lang-de p {
 -ms-word-break: none;
     word-break: none;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: none;
   -moz-hyphens: none;
    -ms-hyphens: none;
        hyphens: none;
}

